@mixin debugBorder() {
    border: 1px red solid;
}

$calendarMainColor: #d6ebff;

body {
    font: 14px "M PLUS Rounded 1c", Helvetica, Arial, sans-serif;
    margin: 0;
    background: #97b5d3;
}

p {
    margin: 0;
}

tr, th, td {
    border: solid black 1px;
}

li {
    list-style: none;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

table {
    padding: 0.2em 0.5em;
    margin: 2em 0;
    border: dashed 2px white;
}

header{
    margin: 0 auto;
    background-color: white;
    border: 3px grey double;
    #title{
        text-align: center;
        font-family: 'Lexend Zetta', sans-serif;
    }
}

.income {
    color: blue;
    text-align: right;
}
.outcome {
    color: red;
    text-align: right;
}

.changeMonthButton {
    width: 70px;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    color: #799dec;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #6182ca, 0px 2px 0px #4f6aa7, 0px 3px 0px #5470ad;
    background-color: $calendarMainColor;
    border-radius: 5px;
    border: none;
    &:active {
        top: 4px;
        text-shadow: none;
        
    }
    &:focus {
        outline: none;
    }
}

#thisMonth {
    margin: 0;
}

#monthDataList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    #calendarField {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        margin: 15px auto 0 auto ;
        background: $calendarMainColor;
        box-shadow: 0px 0px 0px 10px $calendarMainColor;
        border-radius: 15px;
        #calendarHeaders {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        #calendar {
            margin: 0 auto;
            width: 100%;
            table-layout: fixed;
        }
    }
}

/** モバイル版 **/
@media (max-width: 600px) {
    main {
        flex-direction: column;
    }
}