extends layout

block content
  if user
    header
      h1#title money manager
    //カレンダー
    main
      div#calendarField
        ul#monthDataList
          li#totalAssets 総資産：100000
          ul#monthData
            li#totalIncomeMonth 今月の収入：100000
            li#totalOutcomeMonth 今月の支出：100000
        div#calendarHeaders
          h1#thisMonth
          div#changeMonthButton
            input(type='button' class='changeMonthButton' id='lastMonthButton' value='先月')
            input(type='button' class='changeMonthButton' id='nextMonthButton' value='翌月')
        table#calendar
      div#listOfDate

    a(href='/inputForm') 収支入力 <br>
  
  script(src='/javascripts/calendar.js')