extends layout

block content
  if user
    p hello #{user.name.givenName}
    a(href='/inputForm') 収支入力 <br>
    a(href='/logout') ログアウト <br>
    //カレンダー
    span#thisMonth
    input(type='button' id='lastMonthButton' value='先月')
    input(type='button' id='nextMonthButton' value='翌月')
    div#calendar
  
  script(src='/javascripts/calendar.js')