extends layout

block content
  if user
    header
      h1#title money manager
    //カレンダー
    main
      div#monthDataField
        ul#monthDataList
          li#totalAssets 総資産：
          li#totalIncomeMonth 今月の収入：
          li#totalOutcomeMonth 今月の支出：
      div#calendarField
        h1#thisMonth
        div#changeMonthButton
          input(type='button' class='changeMonthButton' id='lastMonthButton' value='先月')
          input(type='button' class='changeMonthButton' id='nextMonthButton' value='翌月')
        div#calendar
      div#listOfDate

    a(href='/inputForm') 収支入力 <br>
  
  script(src='/javascripts/calendar.js')