extends layout

block content
  if user
    header
      h1#title money manager
    //カレンダー
    div#calendarField
      div#calendarHeaders
        h1#thisMonth
        div#totalAssets
          h2#totalAssets 総資産：
        div#balanceOfMonth
          h2#totalIncomeMonth 今月の収入：
          h2#totalOutcomeMonth 今月の支出：
        div#changeMonthButton
          div
            input(type='button' id='lastMonthButton' value='先月')
          div
            input(type='button' id='nextMonthButton' value='翌月')
      div#calendar
      div#dateList

    a(href='/inputForm') 収支入力 <br>
  
  script(src='/javascripts/calendar.js')