body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table, tr, th ,td{
  border: solid 1px #7b8184;
}

.Sunday {
  color: red;
}

.Saturday {
  color: blue;
}