@charset "UTF-8";
body {
  font: 14px "M PLUS Rounded 1c", Helvetica, Arial, sans-serif;
  background: #97b5d3; }

tr, th, td {
  border: solid black 1px; }

table {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  border: dashed 2px white; }

header {
  margin: 0 auto;
  width: 90%;
  background-color: white;
  border: 3px grey double; }
  header #title {
    text-align: center;
    font-family: 'Lexend Zetta', sans-serif; }

.income {
  color: blue; }

.outcome {
  color: red; }

#calendarField {
  display: flex;
  flex-direction: column;
  margin: 15px auto 0 auto;
  width: 85%;
  background: #d6ebff;
  box-shadow: 0px 0px 0px 10px #d6ebff;
  border-radius: 10px; }
  #calendarField #calendar table {
    margin: 0 auto;
    width: 100%; }
  #calendarField #calendarHeaders {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%; }
    #calendarField #calendarHeaders #balanceOfMonth {
      display: flex;
      flex-direction: column; }
      #calendarField #calendarHeaders #balanceOfMonth h2 {
        padding: 0;
        margin: 0; }
    #calendarField #calendarHeaders div {
      display: flex;
      flex-direction: row; }
      #calendarField #calendarHeaders div #thisMonth {
        margin-right: 20px; }
      #calendarField #calendarHeaders div #changeMonthButton {
        vertical-align: middle;
        display: flex;
        flex-direction: row; }
        #calendarField #calendarHeaders div #changeMonthButton div input {
          height: 100%;
          width: 70px;
          text-decoration: none;
          font-weight: bold;
          font-size: 30px;
          color: #799dec;
          text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #6182ca, 0px 2px 0px #4f6aa7, 0px 3px 0px #5470ad;
          background-color: #d6ebff;
          border-radius: 5px;
          border: none; }
          #calendarField #calendarHeaders div #changeMonthButton div input:active {
            top: 4px;
            text-shadow: none; }
          #calendarField #calendarHeaders div #changeMonthButton div input:focus {
            outline: none; }

/** モバイル版 **/
@media (max-width: 600px) {
  body {
    padding: 0;
    margin: 0; }
  header {
    width: 100%; }
  #calendarField #calendarHeaders {
    flex-direction: column; }
    #calendarField #calendarHeaders #totalAssets {
      margin: 0;
      order: 1; }
    #calendarField #calendarHeaders #totalIncomeMonth {
      order: 2; }
    #calendarField #calendarHeaders #totalOutcomeMonth {
      order: 3; }
    #calendarField #calendarHeaders div {
      width: 100%;
      order: 4;
      display: flex;
      flex-direction: row; }
      #calendarField #calendarHeaders div #changeMonthButton {
        vertical-align: middle;
        width: 50%; }
        #calendarField #calendarHeaders div #changeMonthButton div {
          height: 100%;
          margin-top: 0; }
      #calendarField #calendarHeaders div #thisMonth {
        margin: 0;
        text-align: center;
        width: 50%; } }
