@charset "UTF-8";
body {
  font: 14px "M PLUS Rounded 1c", Helvetica, Arial, sans-serif;
  margin: 0;
  background: #97b5d3; }

p {
  margin: 0; }

tr, th, td {
  border: solid black 1px; }

li {
  list-style: none;
  padding: 0; }

ul {
  padding: 0;
  margin: 0; }

table {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  border: dashed 2px white; }

header {
  margin: 0 auto;
  background-color: white;
  border: 3px grey double; }
  header #title {
    text-align: center;
    font-family: 'Lexend Zetta', sans-serif; }

.income {
  color: blue;
  text-align: right; }

.outcome {
  color: red;
  text-align: right; }

.changeMonthButton {
  width: 70px;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  color: #799dec;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #6182ca, 0px 2px 0px #4f6aa7, 0px 3px 0px #5470ad;
  background-color: #d6ebff;
  border-radius: 5px;
  border: none; }
  .changeMonthButton:active {
    top: 4px;
    text-shadow: none; }
  .changeMonthButton:focus {
    outline: none; }

#thisMonth {
  margin: 0; }

#monthDataList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0; }

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  main #calendarField {
    display: flex;
    flex-direction: column;
    margin: 15px auto 0 auto;
    width: 320px;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border-radius: 15px; }
    main #calendarField #calendarHeaders {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
    main #calendarField #calendar {
      margin: 0 auto;
      width: 100%; }
      main #calendarField #calendar td {
        width: 14%; }

/** モバイル版 **/
@media (max-width: 600px) {
  main {
    flex-direction: column; } }
